/* Accordion Shortcode (PB) */

.accordion {
    color: #444;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin-bottom: .5em;
    z-index: 10;
    position: relative;
}

.accordion h3 {
    margin-left: .25em;
    color: #FFF;
    margin: 0;
    font-size: 1.2em;
    padding: 0px 7px;
}

.accordion img {
    width: 40px;
}

.accordion i {
    margin-left: auto;
    padding-right: .5em;
    color: #FFF;
    font-size: 25px;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin-bottom: 15px;
    padding: 1em;
}


.section-after-services br {
    display: none;
}

.first-after-service img {
    margin-bottom: 2em;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -3px;
}

.single-accordion .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(209, 193, 193, 0.05);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -3px;
    border: 1px solid #eee;
    margin-top: -10px;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 0;
}